<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="table table-striped">
        <tbody>
            <th:block th:each ="title : ${jobs}">
                <tr>
                     <th>
                    <p>ID: </p>
                    <p th:text = "'Name: ' + ${title.name}"></p>
                    <p th:text = "'Employer: ' + ${title.employer}"></p>
                    <p th:text = "'Location: ' + ${title.location}"></p>
                    <p th:text = "'Position: ' + ${title.positionType}"></p>
                    <p th:text = "'Skill: ' + ${title.coreCompetency}"></p>
                    </th>
                </tr>
            </th:block>
        </tbody>
    </table>

</div>

</body>
</html>