<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->
<!--    <table th:replace="fragments::job-listing"></table>-->
    <div th:if="${jobs}">
        <h2 th:text="${jobs.size()} + ' result(s) matched your search.'"></h2>
        <table class="job-listing">
            <tbody>
            <th:block th:each ="job : ${jobs}">
                <tr>
                    <th>
                        <th:block th:each = "title : ${job}">
                            <p th:text = "'ID: ' + ${title.id}"></p>
                            <p th:text = "'Name: ' + ${title.name}"></p>
                            <p th:text = "'Employer: ' + ${title.employer}"></p>
                            <p th:text = "'Location: ' + ${title.location}"></p>
                            <p th:text = "'Position: ' + ${title.positionType}"></p>
                            <p th:text = "'Skill: ' + ${title.coreCompetency}"></p>
                        </th:block>
                    </th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>